/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto";
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #fff;
}

body.modal-open {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

address {
  font-style: inherit;
}

h2,
h3 {
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.service-order__label--check, .subscription__btn, .clients__link, .social-links__link, .features__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-order__btn, .subscription__btn, .section__title--hero, .section, .container--centered {
  margin-left: auto;
  margin-right: auto;
}

.mobile-menu, .backdrop, .project__overlay, .clients__link {
  width: 100%;
  height: 100%;
}

.page-header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header__container {
  position: relative;
}

@media screen and (min-width: 768px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav {
  width: 100%;
}
@media (max-width: 767px) {
  .nav {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .nav__container {
    display: none;
  }
  .nav__container.mobile-menu-is-open {
    padding: 48px 40px;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100vh;
    width: 100%;
    max-width: 480px;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    background: #fff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (min-width: 768px) {
  .nav__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__container {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__container {
    margin-left: 93px;
  }
}

.logo {
  font-family: "Raleway", "Geneva", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__text--black {
  color: #000;
}
.logo__text--white {
  color: #fff;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .pages {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 294px;
    line-height: 1.14;
  }
}
@media (max-width: 767px) {
  .pages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 40px;
    line-height: 1.18;
  }
}

@media (max-width: 767px) {
  .pages__item {
    margin-bottom: 32px;
  }
}

.pages__link {
  display: block;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .pages__link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
  }
}
@media screen and (min-width: 768px) {
  .pages__link--current {
    position: relative;
    color: #2196f3;
  }
  .pages__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    border: 2px solid #2196f3;
    border-radius: 2px;
    background-color: #2196f3;
  }
}
@media (max-width: 767px) {
  .pages__link--current {
    color: #2196f3;
  }
}

.connection {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .connection {
    font-size: 12px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .connection {
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    font-size: 24px;
    line-height: 1.17;
  }
}

.connection__link {
  color: #757575;
}
@media screen and (min-width: 768px) {
  .connection__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.connection__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media (max-width: 767px) {
  .connection__icon {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .connection__icon {
    margin-right: 10px;
  }
}
.connection__icon--envelope {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .connection__icon--envelope {
    width: 16px;
    height: 12px;
  }
}
.connection__icon--smartphone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .connection__icon--smartphone {
    height: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .connection__item:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .connection__item:not(:first-child) {
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  .connection__item:not(:last-child) {
    margin-top: 32px;
  }
}
@media (max-width: 767px) {
  .connection__item:last-child {
    font-size: 34px;
    line-height: 1.18;
  }
}

.link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: #2196f3;
}
@media (max-width: 767px) {
  .link--accent {
    color: #2196f3;
  }
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.btn__icon {
  margin-left: 10px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section--padding-top {
  padding-top: 0;
}
.section--bgr {
  background: #f5f4fa;
}
@media screen and (max-width: 1199px) {
  .section--directions {
    display: none;
  }
}
.section--hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 400px;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bgr-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bgr-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section--hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bgr-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bgr-tablet.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .section--hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bgr-desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bgr-desktop.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section--hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bgr-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bgr-mobile@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .section--hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bgr-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bgr-tablet@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .section--hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bgr-desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bgr-desktop@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section--hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section--hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
.section__title--hero {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .section__title--hero {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.features {
  margin-top: -30px;
  margin-left: -30px;
}
@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features__item {
  margin-top: 30px;
  margin-left: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 120px) / 4);
  }
}

.features__wrap {
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__descr {
  line-height: 1.71;
}

.directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.directions__item {
  width: calc((100% - 60px) / 3);
}

.directions__item:not(:first-child) {
  margin-left: 30px;
}

.directions__meta {
  position: relative;
}

.directions__label {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 768px) {
  .team {
    margin-top: -30px;
    margin-left: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .team__item:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
  }
}

.team-member {
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member__meta {
  padding-top: 30px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team-member__meta {
    padding-bottom: 30px;
  }
}

.team-member__name {
  margin-bottom: 10px;
  font-weight: 500;
}

.team-member__position {
  margin-bottom: 16px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}
.social-links__item--mobile-menu:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.social-links__item--mobile-menu:not(:last-child) {
  padding-right: 10px;
}

.social-links__icon {
  fill: currentColor;
}

.social-links__link {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
.social-links__link--dinamic-fill-color {
  color: #afb1b8;
  background-color: #fff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link--static-fill-color {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover, .social-links__link:focus {
  color: #fff;
  background-color: #2196f3;
}

.mobile-menu__social-links {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .mobile-menu__social-links {
    display: none;
  }
}

.clients {
  margin-top: -30px;
  margin-left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  margin-top: 30px;
  margin-left: 30px;
  height: 92px;
  width: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
  }
}

.clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
@media screen and (max-width: 1199px) {
  .page-footer {
    text-align: center;
  }
}

.page-footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .page-footer__association {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__connect {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .page-footer__connect {
    margin-top: 60px;
  }
}

.page-footer__subscribe {
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .page-footer__subscribe {
    margin: 60px auto 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__subscribe {
    max-width: 570px;
  }
}

.contacts {
  line-height: 1.5;
}

.contacts__link {
  color: rgba(255, 255, 255, 0.6);
}
.contacts__link--white-link {
  color: #fff;
}

.contacts__item:not(:first-child) {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:first-child) {
    margin-top: 9px;
  }
}

.page-footer__contacts {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscription__field {
  padding: 15px 0px 15px 16px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (max-width: 1199px) {
  .subscription__field {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__field {
    max-width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .subscription__btn {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__btn {
    margin-left: 12px;
  }
}

.tabs {
  margin-top: -15px;
  margin-left: -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .tabs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.tabs--margin-bottom {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tabs--margin-bottom {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .tabs--margin-bottom {
    margin-bottom: 50px;
  }
}

.tabs__item {
  margin-left: 8px;
  margin-top: 15px;
}

.tabs__btn {
  padding: 6px 22px;
  font-family: getFont("primary");
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.tabs__btn:hover, .tabs__btn:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio {
    margin-top: -30px;
    margin-left: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .portfolio__item:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 90px) / 3);
  }
}

.project__label {
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__descr {
  font-size: 16px;
  line-height: 1.88;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: inherit;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover, .project:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__meta {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  padding-left: 24px;
  padding-right: 24px;
  position: absolute;
  top: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover .project__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media screen and (max-width: 500px) {
  .project__overlay {
    font-size: 4vw;
  }
}

.backdrop {
  padding: 93px 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  padding: 40px;
  position: relative;
  z-index: 4;
  width: 100%;
  max-width: 450px;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px), screen and (max-height: 608px) {
  .modal-window {
    margin: 0 auto;
  }
}
@media screen and (min-width: 480px) and (min-height: 609px) {
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    max-width: 528px;
  }
}
.backdrop--is-hidden .modal-window {
  -webkit-transform: scale(0);
          transform: scale(0);
}
@media screen and (min-width: 480px) and (min-height: 609px) {
  .backdrop--is-hidden .modal-window {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
}

.modal-window__title {
  margin-top: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal-window__title {
    line-height: 1.15;
  }
}

.service-order__input-fields {
  margin-bottom: 20px;
}

.service-order__label--text-field {
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.service-order__label--check {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .service-order__label--check {
    font-size: 14px;
    line-height: 1.71;
  }
}

.service-order__field {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.service-order__input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-order__input--one-line-field {
  padding: 12px 0 12px 42px;
}
.service-order__input--multi-line-field {
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.service-order__input--multi-line-field::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.service-order__input--multi-line-field::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.service-order__input--multi-line-field:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.service-order__input--multi-line-field::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.service-order__input--multi-line-field::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.service-order__input:focus {
  outline-color: #2196f3;
}

.service-order__icon--input {
  position: absolute;
  top: 50%;
  left: 21px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-order__input--one-line-field:focus + .service-order__icon--input {
  fill: #2196f3;
}
.service-order__icon--check {
  padding: 4px 2px 3px 3px;
  visibility: hidden;
}
.service-order__field--check:checked + .service-order__check > .service-order__icon--check {
  visibility: visible;
}

.service-order__check {
  display: inline-block;
  margin-right: 5px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.service-order__field--check:checked + .service-order__check {
  border: none;
  background-color: #2196f3;
}

.service-order__link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196f3;
}

.service-order__btn {
  margin-top: 30px;
  display: block;
}

.mobile-menu {
  padding: 48px 40px;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu--is-open {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.navigation-btn {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.navigation-btn--mobile-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 2;
  border: none;
  background-color: transparent;
}
.navigation-btn--mobile-menu:hover, .navigation-btn--mobile-menu:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .navigation-btn--mobile-menu {
    display: none;
  }
}
.navigation-btn--close-modal {
  padding: 9px 10px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}
.navigation-btn--close-modal:hover, .navigation-btn--close-modal:focus {
  color: #2196f3;
}

.mobile-menu-is-open .navigation-btn__option--open {
  display: none;
}
.navigation-btn__option--close {
  display: none;
}
.mobile-menu-is-open .navigation-btn__option--close {
  display: block;
}

.navigation-btn__icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */