/* Variables */
:root {
  --primary-font: 'Roboto';
  --logo-font: 'Raleway', 'Geneva', 'Arial', sans-serif;

  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --white-text-color: #fff;
  --black-text-color: #000;
  --placeholder-text-color: rgba(117, 117, 117, 0.5);

  --primary-bgr-color: #fff;
  --secondary-bgr-color: #f5f4fa;
  --hero-bgr-color: #2f303a;
  --footer-bgr-color: #2f303a;
  --label-bgr-color: rgba(47, 48, 58, 0.8);
  --backdrop-bgr-color: rgba(0, 0, 0, 0.2);
  --card-overlay-bgr-color: rgba(33, 150, 243, 0.9);
  --hero-overlay-bgr-color: rgba(47, 48, 58, 0.4);

  --primary-icon-color: #afb1b8;
  --secondary-icon-color: rgba(255, 255, 255, 0.1);

  --primary-accent-color: #2196f3;
  --secondary-accent-color: #188ce8;

  --header-border-color: #ececec;
  --card-border-color: #eeeeee;
  --modal-boder-color: rgba(0, 0, 0, 0.1);
  --modal-input-border-color: rgba(33, 33, 33, 0.2);
  --input-border-color: rgba(255, 255, 255, 0.3);

  --alpha-06-shadow-color: rgba(0, 0, 0, 0.06);
  --alpha-08-shadow-color: rgba(0, 0, 0, 0.08);
  --alpha-1-shadow-color: rgba(0, 0, 0, 0.1);
  --alpha-12-shadow-color: rgba(0, 0, 0, 0.12);
  --alpha-14-shadow-color: rgba(0, 0, 0, 0.14);
  --alpha-15-shadow-color: rgba(0, 0, 0, 0.15);
  --alpha-16-shadow-color: rgba(0, 0, 0, 0.16);
  --alpha-2-shadow-color: rgba(0, 0, 0, 0.2);

  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Style Reset */
body {
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--primary-bgr-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

address {
  font-style: inherit;
}

h2,
h3 {
  color: var(--title-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */
.page-header {
  background-color: var(--primary-bgr-color);
  border-bottom: 1px solid var(--header-border-color);
}

.page-header__container {
  display: flex;
}

.page-header__connection {
  margin-left: auto;
}

/* Container */
.container {
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
}

.container--centered {
  margin-left: auto;
  margin-right: auto;
}

/* Navigation*/
.nav {
  display: flex;
  align-items: center;
}

.nav__pages {
  margin-left: 93px;
}

/* Logo */
.logo {
  display: inline-block;

  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--primary-accent-color);
}

.logo__text--black {
  color: var(--black-text-color);
}

.logo__text--white {
  color: var(--white-text-color);
}

/* Pages */
.pages {
  display: flex;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.pages__item:not(:first-child) {
  margin-left: 50px;
}

.pages__link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
}

.pages__link--current {
  position: relative;
  color: var(--primary-accent-color);
}

.pages__link--current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;

  border: 2px solid var(--primary-accent-color);
  border-radius: 2px;
  background-color: var(--primary-accent-color);
}

/* Connection */
.connection {
  display: flex;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.connection__link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
}

.connection__icon {
  fill: currentColor;
  margin-right: 10px;
}

.connection__item:not(:first-child) {
  margin-left: 50px;
}

/* Link */
.link {
  transition: color 250ms var(--transition-timing-function);
}

.link:hover,
.link:focus {
  color: var(--primary-accent-color);
}

/* Button */
.btn {
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-text-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 4px 4px var(--alpha-15-shadow-color);
  transition: background-color 250ms var(--transition-timing-function);
  cursor: pointer;
}

.btn__icon {
  margin-left: 10px;
}

.btn:hover,
.btn:focus {
  background-color: var(--secondary-icon-color);
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--padding-top {
  padding-top: 0;
}

.section--bgr {
  background: var(--secondary-bgr-color);
}

.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section--hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  height: 600px;
  max-width: 1600px;

  text-align: center;

  background-color: var(--hero-bgr-color);
  background-image: linear-gradient(
      to right,
      var(--hero-overlay-bgr-color),
      var(--hero-overlay-bgr-color)
    ),
    url('../images/team.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section__title--hero {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  max-width: 700px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.section__btn--hero {
  padding-left: 32px;
  padding-right: 32px;
}

/* Features */
.features {
  display: flex;
  justify-content: space-between;
}

.features__item {
  width: 270px;
}

.features__wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;

  border-radius: 4px;
  background-color: var(--secondary-bgr-color);
}

.features__title {
  margin-top: 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__descr {
  margin-top: 10px;
  line-height: 1.71;
}

/* Directions */
.directions {
  display: flex;
  justify-content: space-between;
}

.directions__meta {
  position: relative;
}

.directions__label {
  position: absolute;
  bottom: 0;
  left: 0;

  padding-top: 27px;
  padding-bottom: 27px;

  width: 100%;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-text-color);
  background: var(--label-bgr-color);
}

/* Team */
.team {
  display: flex;
  justify-content: space-between;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Team Member */
.team-member {
  box-shadow: 0px 1px 3px var(--alpha-12-shadow-color), 0px 1px 1px var(--alpha-14-shadow-color),
    0px 2px 1px var(--alpha-2-shadow-color);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bgr-color);
}

.team-member__meta {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member__name {
  font-weight: 500;
  font-size: 16px;
}

.team-member__position {
  margin-top: 10px;
}

.team-member__social-links {
  margin-top: 16px;
}

/* Social links */
.social-links {
  display: flex;
  justify-content: center;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__icon {
  fill: currentColor;
}

.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 44px;
  width: 44px;

  border-radius: 50%;
}

.social-links__link--dinamic-fill-color {
  color: var(--primary-icon-color);
  background-color: var(--primary-bgr-color);
  transition: background-color 250ms var(--transition-timing-function),
    color 250ms var(--transition-timing-function);
}

.social-links__link--static-fill-color {
  color: var(--white-text-color);
  background-color: var(--secondary-icon-color);
  transition: background-color 250ms var(--transition-timing-function);
}

.social-links__link:hover,
.social-links__link:focus {
  color: var(--white-text-color);
  background-color: var(--primary-accent-color);
}

/* Clients */
.clients {
  display: flex;
  justify-content: center;
}

.clients__item:not(:first-child) {
  margin-left: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  color: var(--primary-icon-color);
  transition: color 250ms var(--transition-timing-function);
}

.clients__icon {
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--primary-accent-color);
  color: var(--primary-accent-color);
}

/* Footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--footer-bgr-color);
}

.page-footer__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}

.page-footer__contacts {
  margin-top: 20px;
}

.page-footer__connect {
  margin-left: 70px;
}

.page-footer__social-links {
  margin-top: 20px;
}

.page-footer__subscribe {
  margin-left: auto;
}

/* Contacts */
.contacts {
  line-height: 1.5;
}

.contacts__link {
  color: var(--secondary-text-color);
}

.contacts__link--white-link {
  color: var(--white-text-color);
}

.contacts__item:not(:first-child) {
  margin-top: 9px;
}

/* Subscribe */
.subscribe__subscription {
  margin-top: 20px;
}

/* Subscription */
.subscription {
  display: flex;
}

.subscription__field {
  padding: 15px 0px 15px 16px;

  min-width: 358px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;

  color: var(--secondary-text-color);
  background-color: transparent;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px var(--alpha-15-shadow-color));
}

.subscription__btn {
  margin-left: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: center;
}

.tabs__item:not(:first-child) {
  margin-left: 8px;
}

.tabs__btn {
  padding: 6px 22px;

  min-width: 73px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  border-radius: 4px;
  border: none;

  background-color: var(--secondary-bgr-color);
  color: var(--title-text-color);
  cursor: pointer;
  transition: color 250ms var(--transition-timing-function),
    background-color 250ms var(--transition-timing-function),
    box-shadow 250ms var(--transition-timing-function);
}

.tabs__btn:hover,
.tabs__btn:focus {
  background-color: var(--primary-accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px var(--alpha-1-shadow-color), 0px 1px 2px var(--alpha-08-shadow-color),
    0px 2px 2px var(--alpha-12-shadow-color);
}

/* Portfolio */
.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio--margin-top {
  margin-top: 50px;
}

.portfolio__item:not(:nth-child(-n + 3)) {
  margin-top: 30px;
}

.portfolio__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

/* Project */
.project__label {
  padding: 20px 24px;

  border-left: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
}

.project__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__descr {
  font-size: 16px;
  line-height: 1.88;
}

.project__link {
  display: block;

  color: inherit;
  transition: box-shadow 250ms var(--transition-timing-function);
}

.project__link:hover,
.project__link:focus {
  box-shadow: 0px 1px 1px var(--alpha-12-shadow-color), 0px 4px 4px var(--alpha-06-shadow-color),
    1px 4px 6px var(--alpha-16-shadow-color);
}

.project__meta {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  padding: 63px 24px;

  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--white-text-color);
  background: var(--card-overlay-bgr-color);
  transition: transform 250ms var(--transition-timing-function);
}

.project:hover .project__overlay {
  transform: translateY(-100%);
}

/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  opacity: 1;
  background: var(--backdrop-bgr-color);
  transition: opacity 250ms var(--transition-timing-function);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0);
}

/* Modal Window */
.modal-window {
  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;

  border-radius: 4px;
  background: var(--primary-bgr-color);
  box-shadow: 0px 1px 3px var(--alpha-12-shadow-color), 0px 1px 1px var(--alpha-14-shadow-color),
    0px 2px 1px var(--alpha-2-shadow-color);
  transition: transform 250ms var(--transition-timing-function);
}

.modal-window__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 30px;

  border-radius: 50%;
  border: 1px solid transparent;
  background: var(--primary-bgr-color);
  transition: color 250ms var(--transition-timing-function);
  cursor: pointer;
}

.modal-window__btn--close:hover,
.modal-window__btn--close:focus {
  border: 1px solid var(--modal-boder-color);
  color: var(--primary-accent-color);
}

.modal-window__icon {
  fill: currentColor;
}

.modal-window__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
}

.modal-window__service-order {
  margin-top: 12px;
}

/* Service Order */
.service-order__input-fields {
  margin-bottom: 20px;
}

.service-order__label--text-field {
  margin-bottom: 10px;

  display: block;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.service-order__field {
  margin-top: 4px;

  display: flex;
  align-items: center;
  position: relative;
}

.service-order__input {
  width: 100%;

  border: 1px solid var(--modal-input-border-color);
  border-radius: 4px;
  transition: outline-color 250ms var(--transition-timing-function);
}

.service-order__input--one-line-field {
  padding: 12px 0 12px 42px;
}

.service-order__input--multi-line-field {
  margin-top: 4px;
  padding: 12px 16px;

  height: 120px;
  resize: none;

  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.service-order__icon--input {
  position: absolute;
  top: 50%;
  left: 21px;

  transform: translate(-50%, -50%);
  transition: fill 250ms var(--transition-timing-function);
}

.service-order__input:focus {
  outline-color: var(--primary-accent-color);
}

.service-order__input--one-line-field:focus + .service-order__icon--input {
  fill: var(--primary-accent-color);
}

.service-order__input--multi-line-field::placeholder {
  color: var(--placeholder-text-color);
}

.service-order__label--check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-order__check {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border-radius: 2px;
  border: 2px solid var(--title-text-color);
}

.service-order__icon--check {
  padding: 4px 2px 3px 3px;
  visibility: hidden;
}

.service-order__field--check:checked + .service-order__check {
  border: none;
  background-color: var(--primary-accent-color);
}

.service-order__field--check:checked + .service-order__check > .service-order__icon--check {
  visibility: visible;
}

.service-order__link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--primary-accent-color);
}

.service-order__btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  display: block;
}

/* General */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
