.backdrop {
  padding: 93px 15px;

  position: fixed;
  top: 0;
  left: 0;

  @extend %stretched;

  opacity: 1;
  background: getBgrColor('backdrop');

  transition: opacity 250ms $transition-timing-function;

  overflow-y: scroll;

  &--is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
