.clients {
  margin-top: -30px;
  margin-left: -30px;

  display: flex;
  flex-wrap: wrap;
}

.clients__item {
  margin-top: 30px;
  margin-left: 30px;

  height: 92px;
  width: calc((100% - 2 * 30px) / 2);

  @include setForTablet {
    width: calc((100% - 3 * 30px) / 3);
  }

  @include setForDesktop {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients__link {
  @extend %flex-centered;

  @extend %stretched;

  border: 1px solid getIconColor('primary');
  border-radius: 4px;

  color: getIconColor('primary');

  transition: color 250ms $transition-timing-function;

  &:hover,
  &:focus {
    border-color: getAccentColor('primary');
    color: getAccentColor('primary');
  }
}

.clients__icon {
  fill: currentColor;
}
