.connection {
  font-weight: 500;
  letter-spacing: 0.02em;

  color: getTextColor('primary');
}

.page-header__connection {
  font-size: 12px;
  line-height: 1.14;

  @include setForMobile {
    display: none;
  }

  @include setForDesktop {
    display: flex;
    font-size: 14px;
  }
}

.mobile-menu__connection {
  display: flex;
  flex-direction: column-reverse;

  font-size: 24px;
  line-height: 1.17;
}

.connection__link {
  color: getTextColor('primary');

  &--header {
    display: flex;
    align-items: center;
  }
}

.connection__icon {
  margin-right: 8px;
  fill: currentColor;

  @include setForDesktop {
    margin-right: 10px;
  }

  &--envelope {
    width: 14px;
    height: 10px;

    @include setForDesktop {
      width: 16px;
      height: 12px;
    }
  }

  &--smartphone {
    width: 10px;
    height: 14px;

    @include setForDesktop {
      height: 16px;
    }
  }
}

.connection__item {
  &--header:not(:first-child) {
    @include setForTablet {
      margin-top: 10px;
    }

    @include setForDesktop {
      margin-left: 30px;
    }
  }

  &--mobile:not(:last-child) {
    margin-top: 32px;
  }

  &--mobile:last-child {
    font-size: 34px;
    line-height: 1.18;
  }
}
