.container {
  @include setXPadding(15px);

  &--centered {
    @extend %x-margin-centered;
  }

  @include setForMobile {
    max-width: map-get($breakpoints, 'mobile');
  }

  @include setForTablet {
    max-width: map-get($breakpoints, 'tablet');
  }

  @include setForDesktop {
    max-width: map-get($breakpoints, 'desktop');
  }
}

.page-header__container {
  @extend %flex-space-between;
}
