.connection {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.connection__link {
  display: flex;
  align-items: center;

  color: getTextColor('primary');
}

.connection__icon {
  margin-right: 8px;
  fill: currentColor;
}

.connection__item:not(:first-child) {
  padding-top: 10px;
}

.connection__icon {
  &--envelope {
    width: 14px;
    height: 10px;
  }

  &--smartphone {
    width: 10px;
    height: 14px;
  }
}
