.container {
  @include setXPadding(15px);

  &--centered {
    @extend %x-margin-centered;
  }

  @include setForMobile {
    max-width: getBreakpoint('mobile');
  }

  @include setForTablet {
    width: getBreakpoint('tablet');
  }

  @include setForDesktop {
    width: getBreakpoint('desktop');
  }
}

.page-header__container {
  position: relative;
}

.page-footer__container {
  @include setForTabletAndDesktop {
    display: flex;
    align-items: baseline;
  }

  @include setForTablet {
    flex-wrap: wrap;
  }

  @include setForDesktop {
    justify-content: space-between;
  }
}
