.features {
  margin-top: -30px;

  @include setForTabletAndDesktop {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  @extend %x-margin-centered;
  margin-top: 30px;

  @include setForTabletAndDesktop {
    display: flex;
    flex-direction: column;
  }

  @include setForTablet {
    max-width: 354px;
  }

  @include setForDesktop {
    max-width: 270px;
  }
}

.features__wrap {
  @extend %flex-centered;
  margin-bottom: 30px;

  height: 120px;

  border-radius: 4px;
  background-color: getBgrColor('secondary');
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  @include setForMobile {
    text-align: center;
  }
}

.features__descr {
  line-height: 1.71;
}
