.features {
  margin-top: -30px;
  margin-left: -30px;

  @include setForTabletAndDesktop {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  margin-top: 30px;
  margin-left: 30px;

  @include setForTablet {
    width: calc((100% - 2 * 30px) / 2);
  }

  @include setForDesktop {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.features__wrap {
  @extend %flex-centered;
  margin-bottom: 30px;

  height: 120px;

  border-radius: 4px;
  background-color: getBgrColor('secondary');
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @include setForMobile {
    text-align: center;
  }
}

.features__descr {
  line-height: 1.71;
}
