.navigation-btn {
  transition: color 250ms $transition-timing-function;
  cursor: pointer;

  &--mobile-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;

    border: none;
    background-color: transparent;

    &:hover,
    &:focus {
      color: getAccentColor('primary');
    }

    @include setForTabletAndDesktop {
      display: none;
    }
  }

  &--close-modal {
    padding: 9px 10px;

    position: absolute;
    top: 8px;
    right: 8px;

    border-radius: 50%;
    border: 1px solid getBorderColor('modal');

    background: getBgrColor('primary');
  }

  &--close-modal:hover,
  &--close-modal:focus {
    color: getAccentColor('primary');
  }
}

.navigation-btn__option {
  &--open {
    .mobile-menu-is-open & {
      display: none;
    }
  }

  &--close {
    display: none;

    .mobile-menu-is-open & {
      display: block;
    }
  }
}

.navigation-btn__icon {
  fill: currentColor;
}
