.navigation-btn {
  &--open-menu {
    padding: 22px 8px;

    border: none;
    background-color: transparent;

    &:hover,
    &:focus {
      color: getAccentColor('primary');
    }

    @include setForTabletAndDesktop {
      display: none;
    }
  }

  &--close-menu {
    position: absolute;
    top: 10px;
    right: 15px;

    @extend %flex-centered;

    height: 40px;
    width: 40px;

    border: none;

    background: getBgrColor('primary');

    transition: color 250ms $transition-timing-function;
    cursor: pointer;
  }

  &--close-menu:hover,
  &--close-menu:focus {
    color: getAccentColor('primary');
  }

  &--close-modal {
    position: absolute;
    top: 8px;
    right: 8px;

    @extend %flex-centered;

    height: 30px;
    width: 30px;

    border-radius: 50%;
    border: 1px solid transparent;

    background: getBgrColor('primary');

    transition: color 250ms $transition-timing-function;
    cursor: pointer;
  }

  &--close-modal:hover,
  &--close-modal:focus {
    border: 1px solid getBorderColor('modal');
    color: getAccentColor('primary');
  }
}

.navigation-btn__icon {
  fill: currentColor;
}
