.pages {
  display: flex;

  font-weight: 500;
  letter-spacing: 0.02em;
}

.page-header__pages {
  justify-content: space-between;

  width: 100%;
  max-width: 294px;

  line-height: 1.14;

  @include setForMobile {
    display: none;
  }
}

.mobile-menu__pages {
  flex-direction: column;

  font-size: 40px;
  line-height: 1.18;
}

.pages__item {
  &--mobile {
    margin-bottom: 32px;
  }
}

.pages__link {
  display: block;

  color: getTextColor('title');

  &--header {
    @include setYPadding(32px);

    color: getTextColor('title');
  }

  &--header-current {
    position: relative;

    color: getAccentColor('primary');

    &::after {
      content: '';

      position: absolute;
      left: 0;
      bottom: -1px;

      width: 100%;

      border: 2px solid getAccentColor('primary');
      border-radius: 2px;

      background-color: getAccentColor('primary');
    }
  }

  &--mobile-current {
    color: getAccentColor('primary');
  }
}
