.section {
  @include setYPadding(60px);
  @extend %x-margin-centered;

  @include setForDesktop {
    @include setYPadding(94px);
  }

  &--padding-top {
    padding-top: 0;
  }

  &--bgr {
    background: getBgrColor('secondary');
  }

  &--directions {
    @include setForMobileAndTablet {
      display: none;
    }
  }

  &--hero {
    @include setYPadding(118px);

    max-width: map-get($breakpoints, 'mobile');
    height: 400px;

    text-align: center;

    background-color: getBgrColor('hero');
    background-image: linear-gradient(
        to right,
        getBgrColor('hero-overlay'),
        getBgrColor('hero-overlay')
      ),
      url('../images/hero-bgr-mobile.jpg');

    @include setForTablet {
      background-image: linear-gradient(
          to right,
          getBgrColor('hero-overlay'),
          getBgrColor('hero-overlay')
        ),
        url('../images/hero-bgr-tablet.jpg');
    }

    @include setForDesktop {
      background-image: linear-gradient(
          to right,
          getBgrColor('hero-overlay'),
          getBgrColor('hero-overlay')
        ),
        url('../images/hero-bgr-desktop.jpg');
    }

    @include setFor2xPixelRatio {
      background-image: linear-gradient(
          to right,
          getBgrColor('hero-overlay'),
          getBgrColor('hero-overlay')
        ),
        url('../images/hero-bgr-mobile@2x.jpg');

      @include setForTablet {
        background-image: linear-gradient(
            to right,
            getBgrColor('hero-overlay'),
            getBgrColor('hero-overlay')
          ),
          url('../images/hero-bgr-tablet@2x.jpg');
      }

      @include setForDesktop {
        background-image: linear-gradient(
            to right,
            getBgrColor('hero-overlay'),
            getBgrColor('hero-overlay')
          ),
          url('../images/hero-bgr-desktop@2x.jpg');
      }
    }
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include setForTablet {
      max-width: map-get($breakpoints, 'tablet');
    }

    @include setForDesktop {
      @include setYPadding(200px);

      max-width: 1600px;
      height: 600px;
    }
  }
}

.section__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  &--hero {
    @extend %x-margin-centered;

    max-width: 360px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: getTextColor('white');

    @include setForDesktop {
      max-width: 696px;

      font-size: 44px;
      line-height: 1.36;
    }
  }
}
