.social-links {
  display: flex;
  justify-content: center;
}

.social-links__item {
  &:not(:last-child) {
    margin-right: 10px;
  }

  &--mobile-menu:not(:first-child) {
    padding-left: 10px;

    border-left: 1px solid getBorderColor('modal-input');
  }

  &--mobile-menu:not(:last-child) {
    padding-right: 10px;
  }
}

.social-links__icon {
  fill: currentColor;
}

.social-links__link {
  @extend %flex-centered;

  height: 44px;
  width: 44px;

  border-radius: 50%;

  &--dynamic-fill-color {
    color: getIconColor('primary');
    background-color: getBgrColor('primary');

    transition: background-color 250ms $transition-timing-function,
    color 250ms $transition-timing-function;
  }

  &--static-fill-color {
    color: getTextColor('white');
    background-color: getIconColor('secondary');

    transition: background-color 250ms $transition-timing-function;
  }

  &:hover,
  &:focus {
    color: getTextColor('white');
    background-color: getAccentColor('primary');
  }
}

.mobile-menu__social-links {
  margin-top: 64px;

  display: flex;
  flex-wrap: wrap;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  @include setForTabletAndDesktop {
    display: none;
  }
}
