.team-member {
  border-radius: 0px 0px 4px 4px;

  background-color: getBgrColor('primary');
  box-shadow: 0px 1px 3px getShadowColor('alpha-12'), 0px 1px 1px getShadowColor('alpha-14'),
    0px 2px 1px getShadowColor('alpha-2');
}

.team-member__meta {
  padding-top: 30px;
  padding-bottom: 24px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  @include setForDesktop {
    padding-bottom: 30px;
  }
}

.team-member__name {
  margin-bottom: 10px;
  font-weight: 500;
}

.team-member__position {
  margin-bottom: 16px;
}
